body {
    max-width: 80%;
    margin: 40px auto;
    font-size: 20px;
    width: 20%;
    line-height: 2;
    color: rgb(0, 0, 255);
    background-color: rgb(255, 0, 255);
    font-family: Papyrus,fantasy;
}
h1,h2,h3{
    line-height:1;
    color: rgb(94, 251, 110);
}

@media screen and (max-width : 1280px)
{
    body {
        width: 40%;
        font-size: 18px;
    }
}
@media screen and (max-width : 600px)
{
    body {
        max-width: 100%;
        width: 80%;
        font-size: 16px;
    }
}

.navbar {
    color: rgb(94, 251, 110);
    padding: 1rem;
}

.navbar a {
    color: rgb(94, 251, 110);
    margin-right: 1rem;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}